  html {
    box-sizing: border-box;
    font-family: 'helvetica neue';
    font-size: 20px;
    height: -webkit-fill-available;
    font-weight: 200;
  }
  
  body {
    margin: 0;

  }
  /*Cuerpo*/
  header {
    text-align: center;
    background-size: cover;
    display: flex;
    height: 130px;
    align-items: center;
    justify-content: center;
  }
  .hidden{
    display: none;
  }
  p{
    color: rgb(251, 251, 251);
  }
  h1 {
    color: white;
    font-size: 5vw;
    text-shadow: 3px 4px 0 rgb(0 0 0 / 20%);
  }
  legend{
    text-align: center;
    margin: 10px;
    font-weight: bold;
    font-family: monospace;
    color: #d7d6d6;
  }
  .box0 {
    grid-area: box0;
    width: 50%; /* Ocupa la mitad del ancho de la página */
    height: 510px; /* Altura de 200px */
    float: left;
    padding: 20px;
    box-sizing: border-box; 
  }
  .box1 {
    grid-area: box1;
    width: 50%; /* Ocupa la mitad del ancho de la página */
    height: 510px; /* Altura de 200px */
    float: left;
    padding: 20px;
    align-content: space-around;
    box-sizing: border-box; 
  }
  .contenido1{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .alerta{
    text-align: center;
    text-shadow: 2px 2px 4px rgba(10, 7, 203, 0.945);
  }

  input, textarea{
    display: flex; /*Quito el display block del input */
    color: rgb(175 255 250);
    text-shadow: 1px 1px 2px rgb(155, 123, 167), 0 0 1em rgb(155, 124, 167), 0 0 0.2em rgb(158, 124, 167);
    font-family: VT323;
    font-size: 28px;
  }
  input:focus{
    outline: none;
  }
  textarea{
    padding-left: 16px;
  }
  input::placeholder, textarea::placeholder{
    font-size: 28px;
    font-family: VT323;
    color: rgb(175 255 250);
    text-shadow: 1px 1px 2px rgb(155, 123, 167), 0 0 1em rgb(155, 124, 167), 0 0 0.2em rgb(158, 124, 167);
  }

  .textbox {
    border: 4px solid #000000;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 1);
    display: flex;
    border-radius: 40px;
    background: repeating-linear-gradient( #000, #170b29 50%, #451383 50%, #270133);
    background-size: 5px 5px;
    filter: url(#noise);
    margin: 0 auto;    
    width: 55%; /* Ocupa el ancho completo del elemento padre */
    height: 55%; /* Ocupa la altura completa del elemento padre */
  }
  .button{
    margin: 10px;
    width: 38%;
    height: 55px;
    border-radius: 15px;
    background:#272729;
    color: #f6faff;
    font-size: 15px;
    cursor: pointer;
}
  .encabezado{
    grid-area: header;
  }
  .contenedor{
    position: relative;
    /*z-index: 99;*/
    z-index: 99;
  }
  .capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3d3a5a;
    opacity: 0.5;
    mix-blend-mode: overlay;
    z-index: -1;
  }
  video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  footer {
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    margin-top: 8vh;
    margin-bottom: 10px;
    width: 100%;
    color: rgb(0, 0, 0);
}

  @media screen and (max-width: 600px) {
  .box0,
  .box1 {
    width: 100%;
    display: flex;
    height: 320px;
    flex-direction: column;
    padding: 0;
  }
  header{
    height: 20%;
  }
  legend, .alerta, footer{
    font-size: 70%;
  }
  input::placeholder, input{
    font-size: 100%;
  }
  textarea::placeholder{
    font-size: 20px;
  }
  textarea{
    font-size: 20px;
  }
  .button{
    width: 45%;
    height: 70%;
    font-size: 57%;
  }
  }
 